```
                                       .* ~                             
                                      § ~.                              
                                     .                                  
                                _____U____       cR O)                  
                               /\ ^  ^  ^ \     C~*)')D       ..        
                         _    /  \  ^  ^   \   (v('Iu/o)    o°O o)      
                         0   /    \_________\    \ I u       \I/o       
             I==I==I==I  |   | [] |  o   o |      II          I/        
~ anmd ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~II~~~~~~~~~~I~~~~~~~~~
```

<= partials/nav.tmpl

