## title goes here
YYYY-MM-DD

Put a one-liner abstract here that describes the articles' content. Used for the atom feed.

Content starts here.

!!!!!!!! BEGIN REMOVE THIS BEFORE PUSHING !!!!!!!!

ellipsis           : …
* in quotation, an ellipsis signifies omitted words and sentences
* faltering speech or a pause

hyphen             : -
* indicates breaks within words that wrap at end of line
* connects compound words like mass-produced
* connects grouped numbers like a phone number 555-1234-4642

n-dash             : –
* joins numbers in a range (from–to) 5–12
* joins words that describe a range: July–October

m-dash             : —
* sets apart a unique idea, an inserted thought.

lastly, the quotes:
* double quotes  : “”
* single quotes  : ‘’

!!!!!!!! END REMOVE THIS BEFORE PUSHING !!!!!!!!

----
𝕃𝕚𝕟𝕜𝕤

=> gemini://linkurl link text goes here
=> gemini://linkurl link text goes here

